PORT=3000
DB_CONNECTION_STRING=mongodb://localhost:27017/narmanews
NEWS_API_KEY=your_news_api_key
GEMINI_API_KEY=your_gemini_api_key
EMAIL_USER='your_email'
EMAIL_PASS='abcd efgh ijkl mnop'
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret_key
SESSION_SECRET=your_secret